body {
    font-family: 'Mulish', sans-serif;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

.navbar-toggler{
    border-color: black;
}

.jumbotron{

    /* Accent / Default */
    width: auto;
    background: #edeff5;
}

.jumbotron h1{

    /* H2 - bold 44 (56, 0.2px) */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    /* or 127% */

    letter-spacing: 0.2px;

    /* Light / Black */

    color: #373F41;
}

.jumbotron p{

    /* Body 1 - regular 16 (22, 0.3px) */

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */

    letter-spacing: 0.3px;

    /* Light / Gray dark */

    color: #737B7D;
}

.jumbotron button{

    /* Button - bold 14 (18, 0.3px) */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;

    /* Light / White */

    color: #FFFFFF;
}

.jumbotron img{
    position: absolute;
    display: block;
    right: 2%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    width: 484px;
    height: 533px;
    top: 70px;
    filter: drop-shadow(20px 4px 4px rgba(0, 0, 0, 0.25));
}

